/* Prevent the page from scrolling */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}

.home-container {
    height: 100vh; /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .home-background {
    background-image: url('./img1.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-title {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
